.App {
  text-align: center;
  position: fixed;
  top: 0%;
  right: 0%;
  background-image: url(../public/spaceBackground.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #090a0b;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.InfoBox{
  background-color: #444c53;
  display: flex;
  flex-direction: column;
  border-radius: 1em 1em 0 0;
  width: 100%;
  height: 20em;
  margin-top: -3.5em;
  align-items: center;
  justify-content: center;
  transition-property: margin-top;
  transition-duration: 0.5s;
  color: white;
}

#InfoButton{
  background: none;
	color: white;
	border: none;
	margin-top: -2em;
	font: inherit;
  font-size: calc(10px + 2vmin);
	cursor: pointer;
}

input[type=text]{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 1em;
}

svg{
  padding-left: 1em;
  padding-right: 0.5em;
  transform: rotate(0);
}