Body{
  background-image: url(../public/spaceBackground.png);
  background-size: cover;
  background-color: #090a0b;
}
.Controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin:8%;
  top: 0%;
  right: 0%;
}
.devBox{
  border: 5px;
  border-style: solid;
  border-radius: 25px;
  border-color: aquamarine;
  position: absolute;
}

.cPanel{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: gray;
}
.sBoard{
  color: white;
  display: flex;
  height: 90%;
  width: 30%;
  background-color: rgb(85, 85, 85);
  padding: 1%;
}

#orientationDisclaimer{
  display: flex;
  text-align: center;
  color: white;
  margin:5%;
  padding-top: 60%;
}

#jStick{
  display: block;
  margin:10%
}

#fireButton{
  display: block;
  margin: 10%;
  height: 100px;
  width: 100px;
  background: rgb(241,21,21);
  background: radial-gradient(circle, rgba(241,21,21,1) 0%, rgba(91,16,16,1) 90%, rgba(0,0,0,1) 100%);
  border-radius: 50%;

  color:white;
  align-items: center;
  text-align: center;
  justify-content: center;
}