Body{
  background-image: url(../public/spaceBackground.png);
  background-size: cover;
  background-color: #090a0b;
}
.Controller {
    top: 0%;
    right: 0%;
}
.devBox{
  border: 5px;
  border-style: solid;
  border-radius: 25px;
  border-color: aquamarine;
  position: absolute;
}

#controlPanel{
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: gray;
    border: 5px;
    border-style: solid;
    border-radius: 10%;
    border-color: darkslategray;
}

#orientationDisclaimer{
  display: block;
  text-align: center;
  color: white;
  margin:5%;
  padding-top: 60%;
}

#jStick{
  display: flex;
  margin:10%
}

#fireButton{
  display: flex;
  margin: 10%;
  height: 100px;
  width: 100px;
  background: rgb(241,21,21);
  background: radial-gradient(circle, rgba(241,21,21,1) 0%, rgba(91,16,16,1) 90%, rgba(0,0,0,1) 100%);
  border-radius: 50%;

  color:white;
  align-items: center;
  text-align: center;
  justify-content: center;
}